In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('staff.csv')

In [5]:
df_2 = df[~(df['salary'] < 0) & ~(df["job_title"] == None)]

In [11]:
average_salary = df_2['salary'].mean()

In [12]:
print(average_salary)

2760.7323943661972

In [13]:
max_age = df_2['age'].max()

In [14]:
print(max_age)

60

In [18]:
pivot_table = pd.pivot_table(df_2, values='salary', index='job_title', columns='age', aggfunc='mean')

In [19]:
print(pivot_table)

age                                               21      22      24      25  \
job_title
Accommodation manager                            NaN     NaN     NaN     NaN
Administrator, charities/voluntary organisations NaN     NaN     NaN     NaN
Adult nurse                                      NaN  2544.0     NaN     NaN
Barrister                                        NaN     NaN     NaN     NaN
Best boy                                         NaN     NaN     NaN     NaN
...                                               ..     ...     ...     ...
Telecommunications researcher                    NaN     NaN     NaN  3528.0
Trade union research officer                     NaN     NaN  3730.0     NaN
Video editor                                     NaN     NaN     NaN     NaN
Warden/ranger                                    NaN     NaN     NaN     NaN
Water quality scientist                          NaN     NaN     NaN     NaN

age                                               29  30  31  32      33  34  \
job_title
Accommodation manager                            NaN NaN NaN NaN     NaN NaN
Administrator, charities/voluntary organisations NaN NaN NaN NaN     NaN NaN
Adult nurse                                      NaN NaN NaN NaN     NaN NaN
Barrister                                        NaN NaN NaN NaN     NaN NaN
Best boy                                         NaN NaN NaN NaN     NaN NaN
...                                               ..  ..  ..  ..     ...  ..
Telecommunications researcher                    NaN NaN NaN NaN     NaN NaN
Trade union research officer                     NaN NaN NaN NaN     NaN NaN
Video editor                                     NaN NaN NaN NaN     NaN NaN
Warden/ranger                                    NaN NaN NaN NaN     NaN NaN
Water quality scientist                          NaN NaN NaN NaN  4950.0 NaN

age                                               ...  50      52  53  54  55  \
job_title                                         ...
Accommodation manager                             ... NaN     NaN NaN NaN NaN
Administrator, charities/voluntary organisations  ... NaN  1580.0 NaN NaN NaN
Adult nurse                                       ... NaN     NaN NaN NaN NaN
Barrister                                         ... NaN     NaN NaN NaN NaN
Best boy                                          ... NaN     NaN NaN NaN NaN
...                                               ...  ..     ...  ..  ..  ..
Telecommunications researcher                     ... NaN     NaN NaN NaN NaN
Trade union research officer                      ... NaN     NaN NaN NaN NaN
Video editor                                      ... NaN     NaN NaN NaN NaN
Warden/ranger                                     ... NaN     NaN NaN NaN NaN
Water quality scientist                           ... NaN     NaN NaN NaN NaN

age                                               56  57  58  59  60
job_title
Accommodation manager                            NaN NaN NaN NaN NaN
Administrator, charities/voluntary organisations NaN NaN NaN NaN NaN
Adult nurse                                      NaN NaN NaN NaN NaN
Barrister                                        NaN NaN NaN NaN NaN
Best boy                                         NaN NaN NaN NaN NaN
...                                               ..  ..  ..  ..  ..
Telecommunications researcher                    NaN NaN NaN NaN NaN
Trade union research officer                     NaN NaN NaN NaN NaN
Video editor                                     NaN NaN NaN NaN NaN
Warden/ranger                                    NaN NaN NaN NaN NaN
Water quality scientist                          NaN NaN NaN NaN NaN

[68 rows x 33 columns]

In [3]:
import matplotlib.pyplot as plt
plt.plot(df_2['age'], df_2['salary'], 'o-')

plt.xlabel('age')
plt.ylabel('salary')
plt.title('Зарплата по віку')

plt.show()

NameError: name 'df_2' is not defined